.sliderrow{
    display: flex;
    flex-direction: row;
    margin: 30px auto;
        a{
            img {
                border-radius: 10px;
                width: 25%;
            }
        }
    }
