.section-reverse{
    .row{
        align-items: center;
        background-color: black;
        color: white;
        justify-content: space-around;
        // flex-direction: row-reverse;
        .colcontetnt{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
}