<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- ----------------------------------------------------------------- -->

    <span class="volatile-billboard-animations-container"
      ><div class="billboard-row" role="region" aria-label="Featured Content">
        <div class="ptrack-container billboard-presentation-tracking">
          <div
            class="billboard-presentation-tracking ptrack-content"
            data-ui-tracking-context="%7B%22location%22:%22homeScreen%22,%22rank%22:0,%22request_id%22:%22c608a13f-8e20-4f79-b267-7815baec1990-17247400%22,%22row%22:0,%22track_id%22:254015180,%22video_id%22:81405684,%22image_key%22:%22BILLBOARD%7Cd49aea31-7cb1-11eb-8bf9-0a6a1c202e0f%7Car%22,%22supp_video_id%22:81428722,%22lolomo_id%22:%222868fafc-7452-43c6-a31e-9a575ceacb8f_ROOT%22,%22list_id%22:%222868fafc-7452-43c6-a31e-9a575ceacb8f_113556401X20XX1635114094251%22,%22appView%22:%22billboard%22%7D"
            data-tracking-uuid="4d61248c-532a-40fc-9720-529a4bf7e27d"
          >
            <div
              class="billboard-presentation-tracking ptrack-content"
              data-ui-tracking-context="%7B%22list_id%22:%222868fafc-7452-43c6-a31e-9a575ceacb8f_113556401X20XX1635114094251%22,%22location%22:%22homeScreen%22,%22rank%22:0,%22request_id%22:%22c608a13f-8e20-4f79-b267-7815baec1990-17247400%22,%22row%22:0,%22track_id%22:254015180,%22video_id%22:81405684,%22image_key%22:%22BILLBOARD%7Cd49aea31-7cb1-11eb-8bf9-0a6a1c202e0f%7Car%22,%22supp_video_id%22:81428722,%22lolomo_id%22:%222868fafc-7452-43c6-a31e-9a575ceacb8f_ROOT%22,%22appView%22:%22boxArt%22,%22usePresentedEvent%22:true%7D"
              data-tracking-uuid="8e0b8e1f-6507-45d1-be63-b1beaffd5caa"
            >
              <div
                class="
                  billboard
                  billboard-pane
                  billboard-pane-main
                  billboard-originals
                  full-bleed-billboard
                  trailer-billboard
                "
              >
                <div class="billboard-motion dismiss-mask">
                  <div
                    class="motion-background-component bottom-layer full-screen"
                  >
                    <div class="hero-image-wrapper">
                      <img
                        class="hero static-image image-layer"
                        src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABbIV-ZSeh613mD24MFLZEoBb61vf3AK4yjyfqgRZJu8nfmu7T5rq20g1wg_9lSGe2FmV27Zgw4xeOEmzUgslRu41bq71.webp?r=771"
                        alt=""
                      />
                      <div class="trailer-vignette vignette-layer"></div>
                      <div class="hero-vignette vignette-layer"></div>
                      <div class="embedded-components button-layer"></div>
                    </div>
                    <div class="embedded-components button-layer">
                      <span class="ActionButtons"
                        ><button
                          aria-label="Replay"
                          class="color-supplementary hasIcon ltr-pjs1vp"
                          type="button"
                        >
                          <div class="ltr-1ksxkn9">
                            <div class="small ltr-18dhnor" role="presentation">
                              <svg viewBox="0 0 24 24">
                                <path
                                  d="M20 12.35l1.919-1.371 1.162 1.627-4.08 2.915-4.082-2.915 1.162-1.627L18 12.349V12c0-3.87-3.13-7-7-7s-7 3.13-7 7 3.13 7 7 7c1.93 0 3.68-.79 4.94-2.06l1.42 1.42A8.954 8.954 0 0 1 11 21a9 9 0 1 1 9-9v.35z"
                                  fill="currentColor"
                                ></path>
                              </svg>
                            </div>
                          </div></button></span
                      ><span class="maturity-rating"
                        ><span class="maturity-number">13+</span></span
                      >
                    </div>
                  </div>
                </div>
                <div class="fill-container">
                  <div class="info meta-layer">
                    <div class="logo-and-text meta-layer">
                      <div
                        class="titleWrapper"
                        style="
                          transform-origin: left bottom;
                          transform: scale(1) translate3d(0px, 0px, 0px);
                          transition-duration: 1300ms;
                          transition-delay: 0ms;
                        "
                      >
                        <div class="billboard-title">
                          <img
                            alt="My Way"
                            class="title-logo"
                            src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABf53yog7qdOBeTZST-f27V6FadB3AIMf6YZSFxGkYK6N1WYpgVT5Gn2-V5rpwyo3KPtInSc6RMK_NSF5AADzufFtH4pqwbo5fmD-.webp?r=053"
                            title="My Way"
                          />
                        </div>
                      </div>
                      <div
                        class="info-wrapper"
                        style="
                          transform: translate3d(0px, 0px, 0px);
                          transition-duration: 1300ms;
                          transition-delay: 0ms;
                          opacity: 1;
                        "
                      >
                        <div
                          class="info-wrapper-fade"
                          style="
                            opacity: 1;
                            transition-duration: 600ms;
                            transition-delay: 200ms;
                          "
                        >
                          <div class="episode-title-container"></div>
                          <div class="synopsis-fade-container">
                            <div class="synopsis no-supplemental">
                              <!-- -->In the 1970s, an aspiring singer struggles
                              to prove herself in the face of challenges posed
                              by her strict upbringing and romantic choices.<!-- -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="billboard-links button-layer forward-leaning">
                        <a
                          data-uia="play-button"
                          role="link"
                          aria-label="Play"
                          class="playLink isToolkit"
                          href="/watch/81405853?trackId=254015180&amp;tctx=0%2C0%2Cc608a13f-8e20-4f79-b267-7815baec1990-17247400%2C2868fafc-7452-43c6-a31e-9a575ceacb8f_113556401X20XX1635114094251%2C2868fafc-7452-43c6-a31e-9a575ceacb8f_ROOT%2C"
                          ><button
                            class="color-primary hasLabel hasIcon ltr-v8pdkb"
                            tabindex="-1"
                            type="button"
                          >
                            <div class="ltr-1ksxkn9">
                              <div
                                class="medium ltr-18dhnor"
                                role="presentation"
                              >
                                <svg viewBox="0 0 24 24">
                                  <path
                                    d="M6 4l15 8-15 8z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                            </div>
                            <div class="ltr-1i33xgl" style="width: 1rem"></div>
                            <span class="ltr-zd4xih">Play</span>
                          </button></a
                        ><button
                          class="color-secondary hasLabel hasIcon ltr-v8pdkb"
                          data-uia="billboard-more-info"
                          type="button"
                        >
                          <div class="ltr-1ksxkn9">
                            <div class="medium ltr-18dhnor" role="presentation">
                              <svg viewBox="0 0 24 24">
                                <path
                                  d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10zm-2 0a8 8 0 0 0-8-8 8 8 0 0 0-8 8 8 8 0 0 0 8 8 8 8 0 0 0 8-8zm-9 6v-7h2v7h-2zm1-8.75a1.21 1.21 0 0 1-.877-.364A1.188 1.188 0 0 1 10.75 8c0-.348.123-.644.372-.886.247-.242.54-.364.878-.364.337 0 .63.122.877.364.248.242.373.538.373.886s-.124.644-.373.886A1.21 1.21 0 0 1 12 9.25z"
                                  fill="currentColor"
                                ></path>
                              </svg>
                            </div>
                          </div>
                          <div class="ltr-1i33xgl" style="width: 1rem"></div>
                          <span class="ltr-zd4xih">More Info</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div></span
    >

    <!-- ----------------------------------------------------------------- -->
  </body>
</html>
