


.background{
    width: 100%;
    position: absolute;
}

.divall{
    /* color: white; */
    padding: 50px 0;
}
.movielogo{
    width: 45vw;
}
video {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100vh;
    object-fit: cover;
}

.row{
    margin: auto 0;
    justify-content: space-between;
}
.col1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.col1 h1 {
    margin: 10px 0;
    font-size: 100px;
    color: #fff;

}
.col1 h3{
    margin: 30px 0;
    color: #fff;
    font-size: 2vw;
    width: 100%;

}
.col1 p {
    font-weight: bold;
    color: #fff;
    width: 50%;
    /* font-size: 16px; */
    font-size: 1vw;
    margin: 0 0 30px 0;

    
}
.font{
    color: #fff;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    font-size: 1.4vw;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.col1 .buttons{
    display: flex;
    flex-direction: row;
}
.col1 button{
    font-size: 2vh;
    font-weight: bold;
    width: fit-content;
}

span {
    width: 2vw;
}


.col2{
    color: #fff;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
}

i{
    background-color: #00000066;
    margin: 0 10px;
    height: -moz-fit-content;
    padding: 5px;
    font-weight: 600;
    font-size: 2vh;
    border-radius: 3px;
}

.age {
    background-color: #00000066;
    height: fit-content;
    padding: .5vh 4vw 0.5vh .5vw;
    font-weight: 600;
    font-size: 2vh;
    border-radius: 3px 0 0 3px;

}